BasedOnStyle: Chromium
IndentWidth: 4
ColumnLimit: 80
AllowShortFunctionsOnASingleLine: None
KeepEmptyLinesAtTheStartOfBlocks: false
BreakBeforeBraces: Allman
AlignConsecutiveDeclarations: true
PointerAlignment: Right