BasedOnStyle: Chromium
IndentWidth: 4
ColumnLimit: 80
PointerAlignment: Right
AllowShortFunctionsOnASingleLine: None
KeepEmptyLinesAtTheStartOfBlocks: false
BreakBeforeBraces: Allman
AlignConsecutiveDeclarations: true