GtkWindow {
    /* background-image: -gtk-gradient (linear,
            left top,
            right bottom,
            color-stop(0.00, rgb(170, 108, 185)),
            color-stop(0.75, rgb(158, 77, 179)),
            color-stop(1.00, rgb(127, 38, 149))); */
    background-image: url("../login-1920x1080.jpg");
    background-size: cover;
    border-width: 3px;
}

GtkLabel {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

GtkEntry:focus {
    border-width: 1px;
    border-color: rgb(124, 85, 195);
    border-style: solid;
}

#image1 {
    background-image: url("../gmp-auth.png");
}

GtkButton {
    background-image: -gtk-gradient (linear,
    left top,
    left bottom,
    color-stop(0.0, rgb(124, 85, 195)),
    color-stop(1.00, rgb(148, 122, 195)));
    border-radius: 5px 5px;
}