#left-pane {
    background-color: transparent;
}

#channel_label {
    font-size: 16px;
    font-weight: bold;
}

#username_label {
    font-size: 18px;
    font-weight: bold;
}

#status {
    border-radius: 10px;
    background-color: red;
}

/***
 *     ██████╗██╗  ██╗ █████╗ ███╗   ██╗███╗   ██╗███████╗██╗     ███████╗
 *    ██╔════╝██║  ██║██╔══██╗████╗  ██║████╗  ██║██╔════╝██║     ██╔════╝
 *    ██║     ███████║███████║██╔██╗ ██║██╔██╗ ██║█████╗  ██║     ███████╗
 *    ██║     ██╔══██║██╔══██║██║╚██╗██║██║╚██╗██║██╔══╝  ██║     ╚════██║
 *    ╚██████╗██║  ██║██║  ██║██║ ╚████║██║ ╚████║███████╗███████╗███████║
 *     ╚═════╝╚═╝  ╚═╝╚═╝  ╚═╝╚═╝  ╚═══╝╚═╝  ╚═══╝╚══════╝╚══════╝╚══════╝
 */

#channels_box {
    background-color: transparent;
}

.channels-box-item {
    background-image: inherit;
    border-style: solid;
    border: none;
    box-shadow: none;
    text-shadow: none;
    transition-property: none;
}

.channels-box-item GtkLabel {
    font-weight: bold;
    color: #fdfdfd;
    font-size: 10px;
}

.channels-box-item:hover {
    border-radius: 0px;
    background-image: inherit;
    border: none;
    box-shadow: none;
    text-shadow: none;
    transition-property: none;
}

.channels-box-item GtkLabel:hover {
    background-color: transparent;
    box-shadow: none;
    text-shadow: none;
    transition-property: none;
    text-decoration-line: none;
    font-stretch: normal;
    font-style: normal;
}

.channels-box-item:active {
    border-radius: 0px;
    background-image: inherit;
    border: none;
    box-shadow: none;
    text-shadow: none;
    transition-property: none;
    outline-style: none;
}

.channels-box-item GtkLabel:active {
    background-color: transparent;
    border: none;
    box-shadow: none;
    text-shadow: none;
    transition-property: none;
    outline-style: none;
    text-decoration-line: none;
    font-stretch: normal;
    font-style: normal;
}

.channels-box-item:backdrop {
    border-radius: 0px;
    background-image: inherit;
    border: none;
    box-shadow: none;
    text-shadow: none;
    transition-property: none;
    outline-style: none;
    font-stretch: normal;
    font-style: normal;
}

.channels-box-item GtkLabel:backdrop {
    font-weight: bold;
    background-color: transparent;
    border: none;
    box-shadow: none;
    text-shadow: none;
    transition-property: none;
    outline-style: none;
}

/***
 *     ██████╗██╗  ██╗ █████╗ ████████╗██████╗  ██████╗ ██╗  ██╗
 *    ██╔════╝██║  ██║██╔══██╗╚══██╔══╝██╔══██╗██╔═══██╗╚██╗██╔╝
 *    ██║     ███████║███████║   ██║   ██████╔╝██║   ██║ ╚███╔╝ 
 *    ██║     ██╔══██║██╔══██║   ██║   ██╔══██╗██║   ██║ ██╔██╗ 
 *    ╚██████╗██║  ██║██║  ██║   ██║   ██████╔╝╚██████╔╝██╔╝ ██╗
 *     ╚═════╝╚═╝  ╚═╝╚═╝  ╚═╝   ╚═╝   ╚═════╝  ╚═════╝ ╚═╝  ╚═╝
 */

 #right-pane {
    background-color: #ffffff;
}

.chat-message {
    margin-left: 12px;
    border-radius: 5px;
    padding: 3px;
}

/*
* Topic
*/

.topic-message-container {
    border-radius: 5px;
    border-color: rgb(201, 176, 94);
    border-style: solid;
    border-width: 2px;
    background-image: -gtk-gradient (linear,
    left top,
    left bottom,
    from(rgb(235, 209, 126)),
    to (rgb(207, 182, 99)));
}

.topic-message {
    font-size: 14px;
}

/*
* Error
*/

.error-message-container {
    border-radius: 5px;
    border-color: rgb(194, 40, 13);
    border-style: solid;
    border-width: 2px;
    background-image: -gtk-gradient (linear,
    left top,
    left bottom,
    from(rgb(228, 47, 15)),
    to (rgb(194, 40, 13)));
}

.error-message {
    font-size: 14px;
}

/*
* Info
*/

.info-message-container {
    border-radius: 5px;
    border-color: rgb(10, 124, 58);
    border-style: solid;
    border-width: 2px;
    background-image: -gtk-gradient (linear,
    left top,
    left bottom,
    from(rgb(16, 173, 81)),
    to (rgb(10, 124, 58)));
}

.info-message {
    font-size: 14px;
}