#channel_label {
    font-size: 16px;
    font-weight: bold;
}

#username_label {
    font-size: 18px;
    font-weight: bold;
}

#status {
    border-radius: 10px;
    background-color: red;
}

.channels-box-item {
    color: black;
    border-style: solid;
    padding: 5px;
}

.channels-box-item GtkLabel {
    font-size: 10px;
    text-shadow: none;
}

.channels-box-item:hover {
    border-radius: 0px;
    background-image: inherit;
    border: none;
    box-shadow: none;
    text-shadow: none;
    transition-property: none;
    outline-style: none;
    outline-width: 0px;
    text-decoration-line: none;
    font-stretch: normal;
    font-style: normal;
}

.channels-box-item GtkLabel:hover {
    background-color: rgba(124, 85, 195, 0);
    transition: inherit;
    box-shadow: none;
    text-shadow: none;
    transition-property: none;
    outline-style: none;
    outline-width: 0px;
    text-decoration-line: none;
    font-stretch: normal;
    font-style: normal;
}

.channels-box-item:active {
    border-radius: 0px;
    background-image: inherit;
    border: none;
    box-shadow: none;
    text-shadow: none;
    transition-property: none;
    outline-style: none;
    outline-width: 0px;
    text-decoration-line: none;
    font-stretch: normal;
    font-style: normal;
}

.channels-box-item GtkLabel:active {
    background-color: rgba(124, 85, 195, 0);
    transition: inherit;
    border: none;
    box-shadow: none;
    text-shadow: none;
    transition-property: none;
    outline-style: none;
    outline-width: 0px;
    text-decoration-line: none;
    font-stretch: normal;
    font-style: normal;
}

.channels-box-item:backdrop {
    border-radius: 0px;
    background-image: inherit;
    border: none;
    box-shadow: none;
    text-shadow: none;
    transition-property: none;
    outline-style: none;
    outline-width: 0px;
    text-decoration-line: none;
    font-stretch: normal;
    font-style: normal;
}

.channels-box-item GtkLabel:backdrop {
    font-weight: bold;
    background-color: rgba(124, 85, 195, 0);
    transition: inherit;
    border: none;
    box-shadow: none;
    text-shadow: none;
    transition-property: none;
    outline-style: none;
    outline-width: 0px;
    text-decoration-line: none;
    font-stretch: normal;
    font-style: normal;
}

#right-pane {
    background-color: #ffffff;
}

.chat-message {
    margin-left: 12px;
    padding: 3px;
    background-color: #fefefe;
    border-radius: 4px;
}

#left-pane {
    background-color: rgba(255, 255, 255, 0.01);
}

.channels-box-item {
    background-color: rgba(0,0,0,0);
    font-weight: bold;
}

.chat-message-box-separator {
    margin: 5px 5px 5px 5px;
}
